@charset "utf-8";
/* 보노보노 메인 CSS-main.css */

/* 초기화 셋팅 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* 보이는 화면 높이값 채우기 */
}

body {
    background: url(../imeges/bg.jpg) no-repeat center/cover;
}
/* 상단영역 */

/* 스크롤바 트랙 변경하기 */

.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기 */
    width: 20px;
}

.scbar::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: hotpink;
    border-radius: 5px;
}

.scbar::-webkit-scrollbar-track {
    /* 스크롤바 트렉 */
    background-color: yellow;
    border-radius: 5px;
}

.logo>img {
    margin-top: 20px;
    margin-left: 120px;
    height: 150px;
    opacity: 0.6;
}

/* 메인영역 */

/* 캐릭터박스 */
#cbx{
    width: 90%;
    height: 450px;
    margin: 0 auto;
    margin-top: 150px;
}

/* 가상요소로 float 해제 */
.clb::after{
    content: '';
    display: block;
    clear: both;
}

/* 개별 캐릭터박스 공통 */
.cat{
    position: relative;
    width: 33%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    transition: all .8s ease-in-out;
}

/* .cat:hover{
    margin-top: -150px;
} */

.cat span{
    display: block;
    padding-bottom: 15px;
}

.cat span img{
    max-width: 100%;
    height: 350px;
}

/* 캐릭터 두번째 이미지 숨기기 */
.cat span img:nth-child(2){
    display: none;
}

.cat:hover span img:nth-child(2){
    display: inline;
}

.cat:hover span img:first-child{
    display: none;
}

/* 캐릭터 설명 박스 */
    
.cs{
    position: absolute;
    width: 90%;
    height: 0;
    overflow: auto;
    /* margin-top: 15px; */
    background: url(../imeges/bocs.jpg) no-repeat center/cover;
    transition: height .8s ease-in-out;
}

.cat:hover .cs{
    height: 250px;
}

h4{
    font: bold 45px "궁서"; 
}

.cs p{
    padding: 10px;
    font: 20px/2 '궁서';
}


/* 하단영역 */
.info{
    margin-top: 200px;
    background-color: rgb(233, 229, 215);
    padding: 15px;
}

/* 하단링크 */

ul.bm{
    width: 720px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

ul.bm::after{
    content: '';
    display: block;
    clear: both;
}

ul.bm li{
    float: left;
    padding: 0 5px;
}

ul.bm a {
    color: #000;
    text-decoration: none;
    font: bold 20px/2 "궁서";
}

ul.bm a:hover{
color: red;
text-decoration: underline;
}



/* 하단로고 */

#clogo{
    text-align: center;
}