@charset "utf-8";
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
background: url(./imeges/bg.jpg) no-repeat fixed center/cover;
}

.scbar::-webkit-scrollbar{
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    background-color: #ddd;
    border-radius: 5px;
}

.logo{
    width: 20px;
    height: 20px;
}

