@charset "utf-8";
/* 보노보노 메인 CSS-main.css */

/* 초기화 셋팅 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* 보이는 화면 높이값 채우기 */
}

body {
    background-image: url(./imeges/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 상단영역 */

.logo>img {
    margin-top: 40px;
    margin-left: 30px;
    height: 150px;
    opacity: 0.6;
}

/* 메인영역 */

/* 캐릭터박스 */
#cbx{
    width: 90%;
    height: 450px;
    margin: 0 auto;
}

/* 가상요소로 float 해제 */

/* 개별 캐릭터박스 공통 */
.cat{
    width: 33%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    transition: margin-top .8s ease-in-out;
}

.cat:hover{
    margin-top: -200px;
}

